name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  configure:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Pull request auto merge enabler
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        uses: poad/github-pull-request-auto-merge-enable-action@v3.0.2
        with:
          pull_request_number: ${{ github.event.pull_request.number }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.repository.name }}
          owner: ${{ github.repository_owner }}
          merge_method: SQUASH

  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: windows-latest, target: 'x86_64-pc-windows-msvc' }
          - { os: macOS-latest, target: 'x86_64-apple-darwin' }
          - { os: ubuntu-latest, target: 'x86_64-unknown-linux-gnu' }
          - { os: ubuntu-latest, target: 'x86_64-unknown-linux-musl' }
          # - { os: windows-latest, target: 'arch64-pc-windows-msvc' }
          # - { os: macOS-latest, target: 'aarch64-apple-darwin' }
          # - { os: ubuntu-latest, target: 'aarch64-unknown-linux-gnu' }
          # - { os: ubuntu-latest, target: 'aarch64-unknown-linux-musl' }

    steps:
    - name: Install dependency package
      if: matrix.config.os == 'ubuntu-latest'
      run: |
        sudo apt-get update -qq && \
        sudo apt-get install -y libwebkit2gtk-4.1-dev webkit2gtk-4.1 build-essential curl wget libssl-dev libgtk-3-dev libappindicator3-dev librsvg2-dev libjavascriptcoregtk-4.1-dev libsoup* --fix-missing
    - name: Add cross build targets
      run: rustup target add ${{ matrix.config.target }}
    - name: Update Rust toolchain
      run: rustup update
    - name: Install cross
      run: cargo install cross

    - uses: actions/checkout@v6
    - name: Use Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]
          -  args: [--global, serve ]

    - name: Build
      env:
        BUILD_PATH: ./dist
      run: pnpm lint && pnpm build && pnpm tauri build --ci
